:root {
    --bg-color: hsl(0, 0%, 100%);
    --card-bg-color: hsl(212, 45%, 89%);
    --tag-color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-color: var(--card-bg-color);
}

header > h1 {
    text-align: center;
    background-color: var(--card-bg-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin: 10px
}

.background {
    background-color: var(--card-bg-color);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 500px 1fr;
    grid-template-areas: ".  .  ."
                         ". box ."
                         ".  .  .";
}

.qr-card {
    background-color: var(--bg-color);
    min-width: 300px;
    min-height: 500px;
    grid-area: box;
    padding: 10px;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.qr-code {
    display: block;
    width: 280px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--text-bg-color);
}


.bold-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.normal-text {
    font-size: 15px;
    font-weight: 1;
    text-align: center;
}

.attribution {
    background-color: var(--card-bg-color);
    text-align: center;
    padding: 80px;
}

.attribution a {
    color: var(--tag-color)
}

@media only screen and (orientation: landscape) {
    .background{
        padding: 40px;
    }
}